body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #22272E;
    color: #fff;
}

div {
    display: block;
  }

/* section styles */
section
{
    background-color: #2D333B;
    color: #fff;
}

section {
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 15px;
}

section h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

section ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

section li {
    margin: 10px 0;
}

section blockquote {
    font-style: italic;
    margin: 0;
    padding: 10px 20px;
    border-left: 5px solid #ddd;
}

section blockquote p {
    margin: 0;
    font-size: 14px;
}

section blockquote cite {
    display: block;
    font-size: 12px;
    font-style: normal;
    color: #777;
}

/* header styles */
header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 0;
}

header h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

header p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.2s;
    color: #fff;
}

nav a:hover {
    color: #50577A;
}

/* main styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

main h3 {
    margin: 20px 0 10px;
    font-size: 16px;
    font-weight: 600
}

/* button */
div button{
    font-family: sans-serif;
    background-color: #404258;
    color: #fff;
    font-size: 16px;
    transition: all 0.2s;
    border-radius: 8px;
    border-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}

div button:hover{
    color: #50577A;
}

#scroll-up-btn {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: center;
  }

@media (max-width: 767px) {
    body {
        font-size: 16px;
    }
  }